*{
margin:0;
padding:0;
box-sizing:border-box;
scroll-behavior:smooth;
}

body{
font-family:'Poppins',sans-serif;
background:#0a0f1f;
color:white;
overflow-x:hidden;
}

#particles-js{
position:fixed;
width:100%;
height:100%;
z-index:-1;
}

/* NAVBAR */
.navbar{
position:fixed;
top:0;
width:100%;
display:flex;
justify-content:space-between;
align-items:center;
padding:12px 60px;
background:rgba(255,255,255,0.07);
backdrop-filter:blur(10px);
z-index:1000;
}

.logo{
color:#00e0ff;
font-weight:700;
font-size:18px;
}

.nav-links{
list-style:none;
display:flex;
gap:25px;
}

.nav-links a{
color:white;
text-decoration:none;
font-size:14px;
transition:0.3s;
}

.nav-links a:hover{
color:#00e0ff;
}

/* HERO */
.hero{
min-height:70vh;
display:flex;
flex-direction:column;
justify-content:center;
align-items:center;
text-align:center;
padding:20px;
margin-top:60px;
}

.profile-img{
width:150px;
height:150px;
border-radius:50%;
object-fit:cover;
border:3px solid #00e0ff;
box-shadow:0 0 20px #00e0ff;
margin-bottom:15px;
}

.hero h2{
font-size:22px;
margin-bottom:8px;
}

.hero p{
font-size:14px;
color:#ccc;
}

.hero-links{
display:flex;
gap:15px;
margin-top:18px;
}

.btn{
padding:8px 18px;
background:#00e0ff;
border-radius:20px;
color:black;
text-decoration:none;
font-weight:600;
font-size:13px;
}

.btn-outline{
padding:8px 18px;
border:2px solid #00e0ff;
border-radius:20px;
color:#00e0ff;
text-decoration:none;
font-size:13px;
}

/* SECTIONS */
.section{
max-width:1200px;
margin:auto;
padding:60px 60px;
position:relative;
}

.section::before{
content:"";
position:absolute;
top:0;
left:0;
width:100%;
height:1px;
background:linear-gradient(to right,transparent,#00e0ff,transparent);
opacity:0.3;
}

.section h2{
margin-bottom:25px;
border-left:4px solid #00e0ff;
padding-left:10px;
font-size:20px;
}

/* CARDS */
.card-container{
display:grid;
grid-template-columns:repeat(auto-fit,minmax(280px,1fr));
gap:20px;
}

.glass-card{
background:rgba(255,255,255,0.07);
backdrop-filter:blur(12px);
padding:18px;
border-radius:10px;
transition:0.3s;
}

.glass-card h3{
font-size:15px;
margin-bottom:8px;
color:#00e0ff;
}

.glass-card p{
font-size:13px;
color:#ccc;
}

.glass-card:hover{
transform:translateY(-6px);
box-shadow:0 10px 20px rgba(0,224,255,0.25);
}

/* REVEAL */
.reveal{
opacity:0;
transform:translateY(40px);
transition:0.8s ease;
}

.reveal.active{
opacity:1;
transform:translateY(0);
}

footer{
text-align:center;
padding:30px;
color:#888;
font-size:13px;
}

/* MOBILE */
@media(max-width:768px){

.navbar{
padding:12px 20px;
}

.nav-links{
display:none;
}

.section{
padding:60px 20px;
}

.hero{
min-height:auto;
padding-top:100px;
}
}
